@font-face {
font-family: Rogan;
font-weight: regular;
src: url("fonts/Rogan.otf") format("opentype");
}

@font-face {
font-family: Rogan;
font-weight: bold;
src: url("fonts/Rogan_Bold.otf") format("opentype");
}

body {
  background-color:black;
  overflow:hidden;

}


#flex_container {
  width:100vw;
  height:100vh;
  position:absolute;
}

.logo {
  position:absolute;
  left:0;
  right:0;
  top:41%;
  text-align: center;
}

.container_active {
  position:absolute;
  display: flex;
  width:100%;
  height:100vh;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.content {
  position:absolute;
  left:0;
  right:0;
  top:35vh;
  height:300px;
  background: black;
  opacity:1;
}



p {
  font-family: "Rogan";
  font-size: 12pt;
  text-align: center;
  color:#FFE912;
  letter-spacing: 0.2em;
}

.bt{
  font-family: "Rogan";
  font-weight: bold;
  font-size: 16pt;
  text-align: center;
}

#hint {
  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
  text-align: center;
}

#hint .message {
  display: inline-block;
  color: #929497;
  font-family: "Rogan";
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 28px;
  border-radius: 20px;
  padding: 0 16px;
}

.ticket {
  position: absolute;
  left: 10px;
  right: 0;
  top: 66vh;
  text-align: center;
}

.ticket .buy {
  display: inline-block;
  color: #FFE912;
  font-family: "Rogan";
  font-size:19px;
  letter-spacing: 0.05em;
  line-height: 40px;
  border-radius: 5px;
  border:1px solid;
  border-color: #FFE912;
  padding: 0 16px;
}

.buy:hover {
  color: black;
  background-color: #FFE912;
}

.second_container {
  position:absolute;
  bottom:0;
  width: 100%;
}
.video {
  width:100vw;
  height:93vh;
  display:none;
}

.bottom_p {
  width:100vw;
  height:7vh;
  background-color:black;
  float:left;
  text-align: center;
}

.phone {
  width:400px;
  cursor:pointer;
}


.scream{
  position: absolute;
  width:200px;
  left:500px;
  top:450px;
  opacity:0;
}

.BadRadio{
  position: absolute;
  width:200px;
  left:200px;
  top:200px;
  opacity:0;
}

.Bell{
  position: absolute;
  width:200px;
  left:750px;
  top:80px;
  opacity:0;
}

.Car{
  position: absolute;
  width:300px;
  left:1100px;
  top:600px;
  opacity:0;
}

.Crow{
  position: absolute;
  width:300px;
  left:900px;
  top:300px;
  opacity:0;
}

.Data1{
  position: absolute;
  width:800px;
  left:900px;
  top:600px;
  opacity:0;
}

.Data2{
  position: absolute;
  width:800px;
  left:50px;
  top:160px;
  opacity:0;
}

.Dog{
  position: absolute;
  width:250px;
  left:1250px;
  top:300px;
  opacity:0;
}

.Drum{
  position: absolute;
  width:250px;
  left:200px;
  top:400px;
  opacity:0;
}

.Hit{
  position: absolute;
  width:250px;
  left:500px;
  top:300px;
  opacity:0;
}

.Machine{
  position: absolute;
  width:1600px;
  opacity:0;
}

.Saw{
  position: absolute;
  width:200px;
  left:300px;
  top:500px;
  opacity:0;
}

.Sew{
  position: absolute;
  width:200px;
  left:800px;
  top:300px;
  opacity:0;
}

.scream2{
  position: absolute;
  width:200px;
  left:1100px;
  top:400px;
  opacity:0;
}

.u{
  position: absolute;
  width:200px;
  left:400px;
  top:180px;
  opacity:0;
}

.Bird{
  position: absolute;
  width:250px;
  left:500px;
  top:500px;
  opacity:0;
}

.Wow{
  position: absolute;
  width:200px;
  left:740px;
  top:400px;
  opacity:0;
}

.active{
  transition: opacity 0.1s ease;
  opacity:1;
}
